<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiepingfu.eshop.mbg.mapper.CommodityInformationMapper">
  <resultMap id="BaseResultMap" type="com.xiepingfu.eshop.mbg.model.CommodityInformation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="more_picture" jdbcType="VARCHAR" property="morePicture" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="is_on_shelf" jdbcType="TINYINT" property="isOnShelf" />
    <result column="is_new" jdbcType="TINYINT" property="isNew" />
    <result column="is_recommand" jdbcType="TINYINT" property="isRecommand" />
    <result column="is_verify" jdbcType="TINYINT" property="isVerify" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
    <result column="sales" jdbcType="INTEGER" property="sales" />
    <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="coupon_id" jdbcType="BIGINT" property="couponId" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from commodity_information
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xiepingfu.eshop.mbg.model.CommodityInformation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into commodity_information (brand_id, title, picture, 
      more_picture, serial_number, is_delete, 
      is_on_shelf, is_new, is_recommand, 
      is_verify, rank, sales, 
      subtitle, coupon_id, description
      )
    values (#{brandId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR}, 
      #{morePicture,jdbcType=VARCHAR}, #{serialNumber,jdbcType=VARCHAR}, #{isDelete,jdbcType=TINYINT}, 
      #{isOnShelf,jdbcType=TINYINT}, #{isNew,jdbcType=TINYINT}, #{isRecommand,jdbcType=TINYINT}, 
      #{isVerify,jdbcType=TINYINT}, #{rank,jdbcType=INTEGER}, #{sales,jdbcType=INTEGER}, 
      #{subtitle,jdbcType=VARCHAR}, #{couponId,jdbcType=BIGINT}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xiepingfu.eshop.mbg.model.CommodityInformation">
    update commodity_information
    set brand_id = #{brandId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      more_picture = #{morePicture,jdbcType=VARCHAR},
      serial_number = #{serialNumber,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=TINYINT},
      is_on_shelf = #{isOnShelf,jdbcType=TINYINT},
      is_new = #{isNew,jdbcType=TINYINT},
      is_recommand = #{isRecommand,jdbcType=TINYINT},
      is_verify = #{isVerify,jdbcType=TINYINT},
      rank = #{rank,jdbcType=INTEGER},
      sales = #{sales,jdbcType=INTEGER},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      coupon_id = #{couponId,jdbcType=BIGINT},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, brand_id, title, picture, more_picture, serial_number, is_delete, is_on_shelf, 
    is_new, is_recommand, is_verify, rank, sales, subtitle, coupon_id, description
    from commodity_information
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, brand_id, title, picture, more_picture, serial_number, is_delete, is_on_shelf, 
    is_new, is_recommand, is_verify, rank, sales, subtitle, coupon_id, description
    from commodity_information
  </select>
</mapper>